@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.height{
    height: 100vh;
    
}

.number{
    font-size: 80px;
}

.redBox{
    height: 5rem;
    width: 5rem;
    border: solid 0.5px red;
    background-color: red;
    margin: auto;
}

#globalScore{
    color: white;
    font-size: x-large;
}

.icon{
    color: red;
}

.dice
img{
    width: 80px;
    height: 80px;
}