@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.height{
    height: 100vH;
    
}

.number{
    font-size: 80px;
}

.redBox{
    height: 5rem;
    width: 5rem;
    border: solid 0.5px red;
    background-color: red;
    margin: auto;
}

#globalScore{
    color: white;
    font-size: x-large;
}